.switchContainer input[type='checkbox'] {
  opacity: 0;
  position: absolute;
}

.switch {
  border: 1px solid var(--color-background-100);
  border-radius: 999999px;
  display: flex;
  padding: 3px;
  cursor: pointer;
}

.switch span {
  width: 14px;
  height: 14px;
  background: var(--color-background-200);
  border-radius: 50%;
  position: relative;
  transition: background 0.3s, transform 0.2s;
}

.switchContainer:has(input[type='checkbox']:checked) .option {
  background: var(--color-background-100);
  transform: translateX(100%);
}
