.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.25em;
  font-weight: 600;
}

.header div span {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--color-primary-900);
}

.header a {
  color: var(--color-primary-200);
}
